/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

/* ====================================
// base rules
// ==================================== */

.main-title {
  background-color: #e7e7db;
}

.logo .first-image {
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #df0000;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #df0000;
}

.LivreDeRef {
  width: 300px;
  height: auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

button {
  display: flex;
  align-items: center;
}

p {
  font-family: "Roboto", sans-serif;
}

.starter-text {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.background-red {
  background-color: #df0000;
  width: 100%;
  padding: 20px;
}

img {
}
